/* header section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

.header-img{
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    height: 698;
    margin: 0;
    padding: 0 0 200px 0;

}

.logo{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
    
}

.sign-btn{
    background-color: #4E47FF;
    font-weight: 400;
    font-size: 16px;
    color: white;
    cursor: pointer;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}

/* banner section */
.banner{
    text-align: center;
    margin-top: 305px;
}

.banner-content{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.button{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

.header{
    display: flex;
    background-position: top center;
}

/* Action section */

.player{
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 220px;
  max-width: 1140px;
  margin: 100px auto;
}
.font{
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-size{
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #6c6c6d;
}

.img-colour{
  border-radius: 48px;
}

.button{
  background-color: #4E47FF;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
}

/* Productive Users/section */

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin: 132px auto 116px auto;
    padding: 50px 80px;
    border-radius: 24px;
}

.stats-produck{
    display: flex;
    justify-content: center;
    gap: 157px;
    align-items: center;

}

.produck-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productive-title{
    text-align: center;
    font-size: 25px;
    font-weight: auto;
    font-family: "Raleway", sans-serif;
}

.productive-descrip{
    font-size: 80px;
    margin-bottom: 0;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.product-pr{
    font-size: 18px;
    color: #454444;
    font-family: "Raleway", sans-serif;
    margin: 5px;
}


/* Action section */

.player{
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 220px;
  max-width: 1140px;
  margin: 100px auto;
}
.font{
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-size{
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #6c6c6d;
}

.img-colour{
  border-radius: 48px;
}

.button{
  background-color: #4E47FF;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
}

/* Productive Users/section */

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin: 132px auto 116px auto;
    padding: 50px 80px;
    border-radius: 24px;
}

.stats-produck{
    display: flex;
    justify-content: center;
    gap: 157px;
    align-items: center;

}

.produck-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productive-title{
    text-align: center;
    font-size: 25px;
    font-weight: auto;
    font-family: "Raleway", sans-serif;
}

.productive-descrip{
    font-size: 80px;
    margin-bottom: 0;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.product-pr{
    font-size: 18px;
    color: #454444;
    font-family: "Raleway", sans-serif;
    margin: 5px;
}


/* parent section */

.parent-h1{
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}

.parent-div{
    background-color: white;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1140px;
    margin: auto;
}

.testimonials{
    height: auto;
    width: 366px;
    font-family: "Raleway", sans-serif;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.testimonials img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.testimonials h2{
    font-size: 24px;
    margin: 24px 0 8px 0;
    color: #000;
}

.review{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px;

}


.review-name{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.review img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.review-date{
    margin: auto;
    font-size: 16px;
    color: #B3B3B3;
}

/* banner action */
.mains-banner{
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-box{
    text-align: center;
    height: auto;
    width: 1140px;
    padding: 150px 70px;
    border-radius: 14px;
    margin-top:130px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}
}

.main-banner{
    text-align: center;
    padding: 40px 20px;
}

.header-banner{
    font-size: 50px;
    margin: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.p-banner{
    font-size: 1rem;
    color: #6b6a6a;
    margin-bottom: 20px;
}

.banner-button{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    font-weight: 500;
    border: none;
    font-family: "Raleway", sans-serif;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.img-banner{
    max-width: 100%;
    height: auto;
    border-radius: 50px;

}

/* footer section */
.footer-container{
    display: flex;
    justify-content: center;
    padding: 119px 171px 14px 129px;
    background-color: #fff;

}

.footer-section{
    display: flex;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    padding: 71px 0;
    max-width: 100%;
    width: 100%;
    gap: 115px;
}

.footer-title{
    font-size: 80px;
}


.content-form{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.btn-footer{
    font-size: 18px;
    font-weight: bold;
    padding: 19px 101px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 19px;
}

.content-form input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    padding: 19px;
    background-color: #f8f9fa;
    border: none;
    font-size: 18px;
}

.content-form textarea{
    width: 497;
    height: 135px;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px 32px;
    background-color: #f8f9fa;
    border: none;
    resize: vertical;
}


/* menu section */
.main-menu{
    background-color: #f8f9fa;
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 104px 155px;
    height: 428px;
}

.menu-container{
    padding: ;
}

.menu-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

.menu-sub{
    font-size: 20px;
    color: #8987A1;
}

.menu-list{
    color:#8987A1;
    font-size: 20px;
    gap: 47px;
}